<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="initialSize" value="5"/>
        <property name="maxTotal" value="50"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="5"/>
        <property name="maxWaitMillis" value="10000"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="validationQueryTimeout" value="60"/>
        <property name="testWhileIdle" value="true"/>
    </bean>

    <bean id="dataSourceNomenclature" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="url" value="${db.nomenclature.url}"/>
        <property name="username" value="${db.nomenclature.username}"/>
        <property name="password" value="${db.nomenclature.password}"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="initialSize" value="5"/>
        <property name="maxTotal" value="50"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="5"/>
        <property name="maxWaitMillis" value="10000"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="validationQueryTimeout" value="60"/>
        <property name="testWhileIdle" value="true"/>
    </bean>

    <jpa:repositories base-package="sn.projet.hubschool.dao,sn.projet.nomenclature.dao"/>

    <context:component-scan base-package="sn.projet.hubschool.dao,sn.projet.nomenclature.dao">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>

    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="false"/>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
        <property name="persistenceUnitName" value="hubschool-entities"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
    </bean>

    <bean id="entityManagerFactoryNomenclature"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSourceNomenclature"/>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
        <property name="persistenceUnitName" value="hubschool-nomenclature-pu"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="transactionManagerNomenclature"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryNomenclature"/>
    </bean>

</beans>